/* Button to go back to home */
#go-back {
    text-align: center;
    margin-top: 2rem;
}

#go-back-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #006400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#go-back-button:hover {
    background-color: #004d00;
}
